<div class="documents-container">
  <h2>📄 My Documents</h2>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div *ngIf="documents.length === 0 && !errorMessage" class="no-docs">
    No documents found.
  </div>

  <div *ngFor="let doc of documents" class="doc-card">
    <h3>{{ doc.title }}</h3>
    <p>Uploaded by {{ doc.uploaded_by }}</p>
    <p>Uploaded on {{ doc.created_at * 1000 | date:'mediumDate' }}</p>
    <button class="view-button" (click)="viewHash(doc.id)">
      🔗 View Hash
    </button> &nbsp;
    <!-- TODO: For future version -->
    <!-- <button class="view-button" (click)="download(doc.id)">⬇️ Download</button> -->
  </div>
</div>
